<footer>
    <div class="footerContainer">
        <nav class="footerNavbar">
            <ul>
                <li><a class="footer__link" href="/shop">SHOP</a></li>
                <li><a class="footer__link" href="/auth/register">REGISTRARSE</a></li>
                <li><a class="footer__link" href="/auth/login">LOGIN</a></li>
                <li><a class="footer__link" href="/contact">CONTACTO</a></li>
            </ul>
            <picture>
                <img src="/img/branding/isotype.svg" alt="Isotipo de la marca FunkoShop" class="footer_img">
            </picture>
        </nav>
    </div>
    <div>

        <p class="copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </div>
</footer>