<header>
    <nav class="navbar">
        <picture class="navbar__logo">
            <a href="/">
                <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca FunkoShop">
            </a>
        </picture>
        <ul class="navbar__menu">
            <li><a class="navbar__link" href="/shop">SHOP</a></li>
            <li><a class="navbar__link" href="/contact">CONTACTO</a></li>
            <% if (user.name) { %>
                <li><p class="navbar__link"><%= user.name %><br><br><a href="/auth/logout">Desloguearse</a></p></li>
            <% } else { %>
                <li><a class="navbar__link" href="/auth/login">LOGIN</a></li>
            <% } 
            if (user.isAdmin){ %>
                <li><a class="navbar__link" href="/admin">Admin</a></li>
            <% } %>
            <li><a class="navbar__link with-icon" href="./cart.html"><img src="/img/icons/cart-icon.svg"></a></li>
        </ul>
    </nav>
</header>